*{
    margin: 0%;
    padding: 0%;
    color: #fff;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.parent{
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
}

.card img{
    padding: 20px;
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.card{
    margin: 20px;
    padding: 20px;
    height: 300px;
    width: 300px;
    color: black;
    border: 2px solid white;
    border-radius: 10%;
    text-align: center;
    background-color: #222;
}

.card p {
    padding: 10px 0;
}

.card button{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
}