*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body,html{
  height: 100%;
  width: 100%;
}

.parent{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding:50px;
  height: 100%;
  width: 100%;
  background-color: #111;
}

.card{
  height: 350px;
  width: 280px;
  border-radius: 30px;
  background-color: #fff;
  padding: 30px;
  display:flex ;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}

.top img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 1px #dadada;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 5px;
  gap: 3px;
  background: transparent;
  color: #b1b1b1;
}

.middle h3{
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 10px;
}

.middle span{
  font-size: 10px;
  font-weight: 400;
  color: hsl(0, 0%, 85%);
}

.middle h2{
  margin-top: 5px;
  font-size: 20px;
  font-weight: 600;
}

.middle .tagg{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.middle .tagg h4{
  font-size: 12px;
  font-weight: 500;
  background-color: #dadada;
  color: #111;
  padding: 4px 6px;
  border-radius: 3px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d1d1d1e2;
  padding-top: 15px;
}

.bottom button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.bottom h3{
  font-size:16px;

}

.bottom p{
  font-size: 10px;
  color: #b1b1b1;
}